/*** Navigation Bar ***/
nav {
  background-color: rgb(196, 252, 255, 0.4);
  font-family: 'Averia Serif Libre', cursive;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  z-index: 1;
  transition: background-color 0.5s ease;
}

.navTextColor  {
  color: white !important;
  transition: color 0.5s ease;
}

.navLogoColorChange h2 {
  color: white !important;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav .collapse a::before {
  content: '';
  display: block;
  height: 5px;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 30%;
  width: 0%;

  transition: all ease-in-out 300ms;
} /* These two classes are needed for the line above the navbar options to work and change color */
nav .collapse a.toggleColor::before {
  background-color: black;
}

nav .collapse a:hover::before {
  width: 100%;
}

.rttNetwork {
    /* puts rtt network title next to logo */
    display: inline;
    position: relative;
    top: 20px;
}
.active {
    font-weight: bolder;
}

@media only screen and (max-width: 1026px) {
    #fadeWords {
        display: none;
    }

    #growImage {
      width: 20%;
    }

}

/*** Image with Text ***/
.img1 {
  background-image: url("images/network.jpg");
  min-height: 600px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text .border {
  background-color: black;
  color: white;
  padding: 20px;
}

/*** Footer ***/
footer {
  background-color: rgb(196, 252, 255);
  font-family: 'Averia Serif Libre', cursive;
}

#footer-gradiant {
  height: 100px;
  background-color: rgb(196, 252, 255); /* doesn't do anything unless user doesn't have access to gradiant below */
  background-image: linear-gradient(0deg, rgb(196, 252, 255), white);
}

.line-spacing {
  line-height: 2.5;
}

.footer-anchor {
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.footer-anchor:hover {
  color: black;
  text-decoration: underline;
}

/* .bottom-padding-filler {
  padding-bottom: 100px;
} */

