body {
    text-align: center;
    /* background-image: linear-gradient(to right, #ffe6e6,#fff6e6,#ffffe6,#e6ffe6,#e6e6ff,#f4e6ff,#fce9fc); */
    font-family: 'Open Sans', sans-serif;
}

nav a {
  color: rgb(29, 51, 84);
  padding: 30px;
  padding-bottom: 4px;
  font-size: 1em;
  text-decoration: none; 
}

nav a:hover {
  color: rgb(70, 117, 153);
  padding: 30px;
  padding-bottom: 4px;
  font-size: 1.1em;
  text-decoration: none;
}

.iframe-body {
  text-align: center;
  background-image: linear-gradient(to right, #ffffff,#ffffff);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  font-size: 3em;
  color: blue;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  color: blue;
}

p {
  font: Times, Helvetica;
  color: #334;
}



img {
    border-radius: 20px;
    padding: 15px;
}

.news-img {
    border-radius: 20px;
    padding: 15px;
    width: 150px;
}

iframe {
  width: 80%;
  height: 425px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  border: solid blue;
  background-color: white;
}

button {
  border: 1px solid white;
  padding: 10px 24px;
  margin: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  border: 1px solid blue;
}

input {
  border: 1px solid blue;
  padding: 10px 24px;
  margin: 6px;
  font-size: 1em;
  border-radius: 10px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#weatherInfo{

 width: 300px;
 float: left;
 text-align: left;

}

#weatherGraphic{

  width: 200px;
  margin-left: 300px;
  background-color: #2f3030;
  border-radius: 10px;

}

#weatherParent{

  width: 500px;
  margin: 0 auto;

}

#nasaDescription{

 width: 300px;
 float: left;
 text-align: left;

}

#nasaPhoto{

  width: 500px;
  margin-left: 300px;
  border-radius: 10px;

}

#nasaParent{

  width: 800px;
  margin: 0 auto;

}
