<!--  Name: homepage.html
      Group Members: Chuy Gomez, Jennifer Lopez, Eric Guerra, Ethan Castro
      Date: 3/10/2021
      Class: CST499
      Description: Main page to display data for the capstone project
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    <title>Capstone</title>
</head>

<body>
    <!-- <h1>RTT Network</h1> -->

    <header>
        <a href="homepage.html">
            <img src="../static/images/logo.PNG" height="100">
        </a>
    </header>

    <nav>
        <hr width="50%">
        <a href="westRTT.html"> West Average RTT </a>
        <a href="westTCP.html"> West TCP </a>
        <a href="eastRTT.html"> East Average RTT </a>
        <a href="eastTCP.html"> East TCP </a>
    </nav>
    <br>
    <iframe src="{{iframe_src}}"></iframe>

</body>

</html>