<!--  Name: homepage.html
      Group Members: Chuy Gomez, Jennifer Lopez, Eric Guerra, Ethan Castro
      Date: 3/10/2021
      Class: CST499
      Description: Main page to display data for the capstone project
-->


<!DOCTYPE HTML>
<html>
	<head>
		<title>RTT Network</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="static/css/df_style.css" />
		<link rel="icon" href="../static/images/logoCropInverted.png">
		<style>
			ul {
                padding-left:50px;
            }
		</style>
	</head>
	<body id="top-of-page" class="is-preload">

		<!-- Navigation Bar -->
		<nav class="navbar">
			<a class="no-underline" href="#top-of-page">
				<img src="../static/images/logoCropInverted.png" width="10%" style="padding-top: 10px; padding-left: 10px;">
				<h2 class="rttNetwork"> RTT NETWORK </h2>
			</a>
			<ul class="navbar-nav-right">
				<li class="nav-item">
					<a class="navTextColor" href="#rttSection"> RTT </a>
				</li>
				<li class="nav-item">
					<a class="navTextColor" href="#tcpSection"> TCP </a>
				</li>
				<li class="nav-item">
					<a class="navTextColor" href="#aboutSection"> About </a>
				</li>
			</ul>
		</nav>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Intro -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>RTT Network</h1>
							<p class="major">A look on the four major carriers of the United States, the difference between the effectiveness of different speed metrics (RTT & TCP) and the current trends.</p>
							<ul class="actions stacked">
								<li><a href="#first" class="button big wide">Get Started</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="static/images/graphic-1714230_1280.png" alt="" />
						</div>
					</section>

				<!-- RTT -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>RTT</h2>
							<p>Take a look at RTT trends</p>
							<ul class="actions stacked">
								<li><a href="#RTT" class="button big wide">See More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="static/images/rttSpotlight.jpg" alt="" />
						</div>
					</section>

				<!-- TCP -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>TCP</h2>
							<p>Take a look at TCP Trends</p>
							<ul class="actions stacked">
								<li><a href="#TCP" class="button big wide">See More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="static/images/tcpSpotlight.jpg" alt="" />
						</div>
					</section>

				<!-- Spotlight #3 -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>About</h2>
							<p>What RTT Network is and what we do</p>
							<ul class="actions stacked">
								<li><a href="#About" class="button big wide">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="static/images/logo.PNG" alt="" />
						</div>
					</section>
					<!-- RTT Section -->
					<section class="wrapper style1 align-center">
						<div id="rttSection" class="inner">
							<div id="RTT"><h2>RTT</h2></div>
							<div class="index align-left">
								
								<!-- Text -->
									<section>
										<header>
											<h3>Sections</h3>
										</header>
										<div class="content">
											<ol>
												<li><a href="#RTTIntroduction">Introduction</a></i>
												<li><a href="#RTTVisualizations"><i>Interactive Visualizations</i></a></li>
												<li><a href="#RTTInfo"><i>How Information Was Generated</i></a></li>

											</ol>
										</div>
									</section>
									<section>
										<header>
											<div id="RTTIntroduction"><h3>Introduction</h3></div>
										</header>
										<div class="content">

											<span class="image fit"><img src="static/images/linePlotRTTavg.png" alt=""></span>
											<p>As shown by the graphic above, RTT patterns appear to trend downwards, implying that
												ping times are continuing to decrease from years 2012-2020. The highest average among
												all carriers peaked at about 51ms in 2013, while the lowest was 45ms in 2020. As 5G becomes
												more common at more data points are set up around California, we can predict that
												the times would continue to decrease.
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/timePlotRTT.png" alt=""></span>
											<p>By 2020, Verizon topped out as the best provider with the lowest RTT at around 45ms. T-Mobile and 
												Sprint appears to be trending upwards, meanwhile AT&T and Verizon trends downwards. There was some slight 
												discrepancies from years 2014-2016 as most carriers faced lower RTT speeds but it smoothes out onwards.
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/densityPlotRTT.png" alt=""></span>
											Some of the values of the RTT time over the years for each provider. Clearly, Verizon has
											maintained the best speeds. At around 47 ms, Verizon can claim that they had the best speeds 
											over the years. Meanwhile, T-Mobile has maintained one of the worst speeds and Sprint had logged
											the worst RTT ms at around 53ms.
											<br><br>

									</section>
									<section>
										<header>
											<div id="RTTVisualizations"><h3>Visualizations</h3></div>
										</header>
										<div class="content">
											<!-- West RTT server -->
                                            <div class="text-center">
                                                <iframe id="10Wgraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/11.embed"></iframe>
                                                <iframe id="20Wgraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/13.embed"></iframe>
                                                <iframe id="50Wgraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/15.embed"></iframe>
                                            </div>

                                            <div id="westRTT" class="text-center">
                                                <h5> Select percentile </h5>
                                            
                                                <button id="buttonWTen" type="button"> 10% </button>
                                                <button id="buttonWTwenty" type="button"> 20% </button>
                                                <button id="buttonWFifty" type="button"> 50% </button>
                                            
                                               

                                            </div>

											<br>
											<p>
												Verizon clocked in the best RTT average for the top 10% with At&t as a close second. However, for the top 20% and 50%, At&t overtakes Verizon as the leading performer with Firstnet, Sprint, and T-Moblie trailing, respectively. Upon calculating the average RTT for each provider, we discovered that the data entered for 2012 from Sprint did not enter the top 50 percentile due to low performance. Another thing that stood out to us was that FirstNet was third in terms of top 20% and 50% but placed last in the top 10 percentile. This can attributed to the lack of records from this provider, considering that the CPUC only began recording their performance in 2020.
											</p>

											<!-- East RTT server -->
                                            <div class="text-center">
                                                <iframe id="10Egraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/5.embed"></iframe>
                                                <iframe id="20Egraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/7.embed"></iframe>
                                                <iframe id="50Egraph" width="1000" height="700" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~EricG831/9.embed"></iframe>
                                            </div>

                                            <div id="eastRTT" class="text-center">
                                                <h5> Select percentile </h5>
                                            
                                                <button id="buttonETen" type="button"> 10% </button>
                                                <button id="buttonETwenty" type="button"> 20% </button>
                                                <button id="buttonEFifty" type="button"> 50% </button>
                                            
                                        

                                            </div>
											<br>
											<p>
												The data recorded for the east server shows that Verizon was the clear dominator placing first in each percentile. At&t placed second across the board, with the remaining carriers interchanging positions for each category. When comparing the average RTT between the east and west server, there is a clear discrepancy in performance with the east server being considerably slower.
											</p>
                                        </div>

									</section>
									<section>
										<div id="RTTInfo"></div>
										<header>
											<h3>Information</h3>
										</header>
										<div class="content">
			
										<br><br>
										<article>
											<button id="myBtn" class="button small">RTT Code</button>

												<!-- The Modal -->
												<div id="myModal" class="modal">

												<!-- Modal content -->
												<div class="modal-content">
													<span class="close">&times;</span>
													Contains all the preprocessing needed to create the Dataframe
										that can aggregate the mean based on the dates and providers.
													<pre>
														<code>
import numpy as np
import pandas as pd
import glob as glob
import math
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('mainDF.csv')

# replaces rows where TCP has no connection with 0
df = df.replace(['Quit by User', 'no effective service', ' no effective service', 'bad_output', 'connect_error1', 
					' connect_error1', 'connect_error2', ' connect_error2', ' timeout', 'timeout', 
					' NA'], 0)
# replaces rows where RTT has no connection with NaN
df['wRttAvg'] = df['wRttAvg'].replace(0, np.nan)


# change object type of 'Date' to datetime64
df['Date'] = pd.to_datetime(df['Date'])
# only keep year
df['Date'] = df.Date.dt.year

# drop unnamed column
df.drop('Unnamed: 0', axis=1, inplace=True)
# drop all rows with FirstNet
df = df[df['Provider'] != 'FirstNet']
df['Provider'] = df['Provider'].str.strip()
df['Provider'] = df['Provider'].str.replace('sprint', 'Sprint')

# change object types to float
df['wTCPUp1'] = df['wTCPUp1'].astype('float')
df['wTCPUp2'] = df['wTCPUp2'].astype('float')
df['wTCPDown1'] = df['wTCPDown1'].astype('float')
df['wTCPDown2'] = df['wTCPDown2'].astype('float')
df['wRttAvg'] = df['wRttAvg'].astype('float')

# find average in TCP and drop columns
df['wTCPUp'] = (df['wTCPUp1'] + df['wTCPUp2'])/2
df['wTCPDown'] = (df['wTCPDown1'] + df['wTCPDown2'])/2
df = df.drop(['wTCPUp1', 'wTCPUp2', 'wTCPDown1', 'wTCPDown2'], axis=1)

# remove rows containing "Tablet" as device
df = df[~df['DeviceType'].str.contains('Netbook')]
			
			
															</code>
														</pre>
														Creates a new dataframe looking at the top 10% of values.
														<pre>
															<code>
rtt = df.loc[(df['wRttAvg'] != 0)].nsmallest(math.floor((len(df)*.10)), 'wRttAvg')
															</code>
														</pre>
														Information about rtt dataframe

										<pre>
											<code>
rtt.info()
										</code>
										</pre>
										<table border="1" class="dataframe mystyle">
											<thead>
											  <tr style="text-align: center;">
												<th></th>
												<th>Column</th>
												<th>Non-Null</th>
												<th>Count</th>
												<th>Dtype</th>		
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<th>0</th>
												<td>Date</td>
												<td>non-null</td>
												<td>13444</td>
												<td>int64</td>
											  </tr>
											  <tr>
												<th>1</th>
												<td>Provider</td>
												<td>non-null</td>
												<td>13444</td>
												<td>object</td>
											  </tr>
											  <tr>
												<th>2</th>
												<td>DeviceType</td>
												<td>non-null</td>
												<td>13444</td>
												<td>object</td>
											  </tr>
											  <tr>
												<th>3</th>
												<td>wRttAvg</td>
												<td>non-null</td>
												<td>13444</td>
												<td>float64</td>
											  </tr>
											  <tr>
												<th>4</th>
												<td>wTCPUp</td>
												<td>non-null</td>
												<td>13444</td>
												<td>float64</td>
											  </tr>
											  <tr>
												<th>5</th>
												<td>wTCPDown</td>
												<td>non-null</td>
												<td>13444</td>
												<td>float64</td>
											  </tr>
											</tbody>
										  </table>
										<pre>
											<code>
rtt.describe()
										</code>
										</pre>
										<table border="1" class="dataframe mystyle">
											<thead>
											  <tr style="text-align: center;">
												<th></th>
												<th>Date</th>
												<th>wRttAvg</th>
												<th>wTCPUp</th>
												<th>wTCPDown</th>		
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<th>count</th>
												<td>13444.000000</td>
												<td>13444.000000</td>
												<td>13444.000000</td>
												<td>13444.000000</td>
											  </tr>
											  <tr>
												<th>mean</th>
												<td>2017.426882</td>
												<td>47.005968</td>
												<td>10323.650576</td>
												<td>26664.919243</td>
											  </tr>
											  <tr>
												<th>std</th>
												<td>2.233540</td>
												<td>5.846066</td>
												<td>9769.509954</td>
												<td>28918.483273</td>
											  </tr>
											  <tr>
												<th>min</th>
												<td>2012.000000</td>
												<td>28.222000</td>
												<td>0.000000</td>
												<td>0.000000</td>
											  </tr>
											  <tr>
												<th>25%</th>
												<td>2016.000000</td>
												<td>42.677750</td>
												<td>3645.375000</td>
												<td>8034.250000</td>
											  </tr>
											  <tr>
												<th>75%</th>  
												<td>2020.000000</td>
												<td>51.890250</td>
												<td>13767.750000</td>
												<td>32662.625000</td>
											  </tr>
											  <tr>
												<th>max</th>  
												<td>2020.000000</td>
												<td>56.509000</td>
												<td>64192.500000</td>
												<td>232749.000000</td>
											  </tr>
											</tbody>
										  </table>
												</div>
													</div>
										</article>

										
										
									</section>
							</div>
					</section>

					<section class="wrapper style1 align-center">
						<div id="tcpSection" class="inner">
							<div id="TCP"><h2>TCP</h2></div>
							<div class="index align-left">
								
								<!-- Text -->
									<section>
										<header>
											<h3>Sections</h3>
										</header>
										<div class="content">
											<ol>
												<li><a href="#TCPIntroduction">Introduction</a></i>
												<li><a href="#TCPVisualizations"><i>Interactive Visualizations</i></a></li>
												<li><a href="#TCPInfo"><i>How Information Was Generated</i></a></li>

											</ol>
										</div>
									</section>
									<section>
										<header>
											<div id="TCPIntroduction"><h3>Introduction</h3></div>
										</header>
										<div class="content">

											<span class="image fit"><img src="static/images/timePltTCPUp.png" alt=""></span>
											<p> Although a slight dip in 2013, TCP up trends upwards throughout the years.
											</p>
											<br>
											<span class="image fit"><img src="static/images/timePltTCPDown.png" alt=""></span>
											<p>
												With TCP Down, 2012-2017 speeds stayed somewhat stagnant. Then, it follows a linear line trending upwards.
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/TCPUPlinePlot.png" alt=""></span>
											<p>
												All carriers seem to improve their speeds throughout the years.
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/TCPDOWNlinePlot.png" alt=""></span>
											<p>
												One outlier among all the carriers is Sprint's Download speed, which appears to be trending downwards.
												
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/densityPlotTCPUP.png" alt=""></span>
											<p>
												All the values are in the range of about 20000 amongst all carriers except Sprint whom
												bottoms out up to 40000.
											</p>
											<br><br>
											<span class="image fit"><img src="static/images/densityPlotTCPDOWN.png" alt=""></span>
											<p>
												Most of Sprint's values fall around the 10000 range, while others are spread around the 20000 mark.
											</p>
											<br><br>



									</section>
									<section>
										<header>
											<div id="TCPVisualizations"><h3>Visualizations</h3></div>
										</header>
										<div class="content">
											<!-- West upload/download server -->
                                            <div class="text-center">

												<!-- wAvg10_RTT -->
												<iframe id="10WUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/28.embed"></iframe>
												<!-- wAvg20_RTT -->
												<iframe id="20WUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/24.embed"></iframe>
												<!-- wAvg50_RTT -->
												<iframe id="50WUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/1.embed"></iframe>

                                            </div>
											<div id="westTCP" class="text-center">
												<h5> Select percentile </h5>
											
												<button id="buttonWUDTen" type="button"> 10% </button>
												<button id="buttonWUDTwenty" type="button"> 20% </button>
												<button id="buttonWUDFifty" type="button"> 50% </button>
											

											</div>
											<br>
											<p>
												Upload and download speeds were measured in kilobits per second (kbps). Overall, At&t outperformed the competition registering an average download speed 48,000 kbps and an upload speed of 12,000 kbps for the west server. Trailing behind the leading carrier, in the following order: Verizon, Sprint, Firstnet, and T-Mobile. The CPUC only began recording data for Firstnet as of 2020.
											</p>

											<!-- East upload/download server -->
                                            <div class="text-center">

												<!-- eAvg10_RTT -->
												<iframe id="10EUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/31.embed"></iframe>
												<!-- eAvg20_RTT -->
												<iframe id="20EUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/34.embed"></iframe>
												<!-- eAvg50_RTT -->
												<iframe id="50EUDgraph" width="1000" height="700" frameborder="0" scrolling="no" src="//plotly.com/~EricG831/37.embed"></iframe>


                                            </div>
											
                                            <div id="eastTCP" class="text-center">
                                                <h5> Select percentile </h5>
                                            
                                                <button id="buttonEUDTen" type="button"> 10% </button>
                                                <button id="buttonEUDTwenty" type="button"> 20% </button>
                                                <button id="buttonEUDFifty" type="button"> 50% </button>
                                            
												<br><br>
                                            </div>
											<p>
												Similar to the west server, At&t outperformed the competition registering an average download speed 38,000 kbps and an upload speed of 12,000 kbps for the east server. The ranking for the rest of the competition remained the same as the west server. However, upon further examination, we are able to conclude that the gap between upload/download speeds for the east server was smaller than the data collected for the west, despite the west server clocking in better performance. 
											</p>
										</div>
									</section>
									<section>
										<div id="TCPInfo"></div>
										<header>
											<h3>Information</h3>
										</header>
										<div class="content">
											<article>
												<button id="myBtn1" class="button small">TCP Code</button>
	
													<!-- The Modal -->
													<div id="myModal1" class="modal">
	
													<!-- Modal content -->
													<div class="modal-content">
														<span class="close">&times;</span>
														Contains all the preprocessing needed to create the Dataframe
														that can aggregate the mean based on the dates and providers.
														<pre>
															<code>
import numpy as np
import pandas as pd
import glob as glob
import math
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('mainDF.csv')

# replaces rows where TCP has no connection with 0
df = df.replace(['Quit by User', 'no effective service', ' no effective service', 'bad_output', 'connect_error1', 
					' connect_error1', 'connect_error2', ' connect_error2', ' timeout', 'timeout', 
					' NA'], 0)
# replaces rows where RTT has no connection with NaN
df['wRttAvg'] = df['wRttAvg'].replace(0, np.nan)


# change object type of 'Date' to datetime64
df['Date'] = pd.to_datetime(df['Date'])
# only keep year
df['Date'] = df.Date.dt.year

# drop unnamed column
df.drop('Unnamed: 0', axis=1, inplace=True)
# drop all rows with FirstNet
df = df[df['Provider'] != 'FirstNet']
df['Provider'] = df['Provider'].str.strip()
df['Provider'] = df['Provider'].str.replace('sprint', 'Sprint')

# change object types to float
df['wTCPUp1'] = df['wTCPUp1'].astype('float')
df['wTCPUp2'] = df['wTCPUp2'].astype('float')
df['wTCPDown1'] = df['wTCPDown1'].astype('float')
df['wTCPDown2'] = df['wTCPDown2'].astype('float')
df['wRttAvg'] = df['wRttAvg'].astype('float')

# find average in TCP and drop columns
df['wTCPUp'] = (df['wTCPUp1'] + df['wTCPUp2'])/2
df['wTCPDown'] = (df['wTCPDown1'] + df['wTCPDown2'])/2
df = df.drop(['wTCPUp1', 'wTCPUp2', 'wTCPDown1', 'wTCPDown2'], axis=1)

# remove rows containing "Tablet" as device
df = df[~df['DeviceType'].str.contains('Netbook')]
																</code>
														</pre>
														Creates a new dataframe looking at the top 10% of values.
				
														<pre>
															<code>
tcpup = df.nlargest(math.floor((len(df)*.10)), 'wTCPUp')
tcpdown = df.nlargest(math.floor((len(df)*.10)), 'wTCPDown')
														</code>
														</pre>
														Information about tcpup/tcpdown dataframe
				
														<pre>
															<code>
tcpup.info()
tcpdown.info()
														</code>
														</pre>
														<table border="1" class="dataframe mystyle">
															<thead>
															  <tr style="text-align: center;">
																<th></th>
																<th>Column</th>
																<th>Non-Null</th>
																<th>Count</th>
																<th>Dtype</th>		
															  </tr>
															</thead>
															<tbody>
															  <tr>
																<th>0</th>
																<td>Date</td>
																<td>non-null</td>
																<td>13444</td>
																<td>int64</td>
															  </tr>
															  <tr>
																<th>1</th>
																<td>Provider</td>
																<td>non-null</td>
																<td>13444</td>
																<td>object</td>
															  </tr>
															  <tr>
																<th>2</th>
																<td>DeviceType</td>
																<td>non-null</td>
																<td>13444</td>
																<td>object</td>
															  </tr>
															  <tr>
																<th>3</th>
																<td>wRttAvg</td>
																<td>non-null</td>
																<td>13444</td>
																<td>float64</td>
															  </tr>
															  <tr>
																<th>4</th>
																<td>wTCPUp</td>
																<td>non-null</td>
																<td>13444</td>
																<td>float64</td>
															  </tr>
															  <tr>
																<th>5</th>
																<td>wTCPDown</td>
																<td>non-null</td>
																<td>13444</td>
																<td>float64</td>
															  </tr>
															</tbody>
														  </table>
														<pre>
															<code>
tcpup.describe()
														</code>
														</pre>
														<table border="1" class="dataframe mystyle">
															<thead>
															  <tr style="text-align: center;">
																<th></th>
																<th>Date</th>
																<th>wRttAvg</th>
																<th>wTCPUp</th>
																<th>wTCPDown</th>		
															  </tr>
															</thead>
															<tbody>
															  <tr>
																<th>count</th>
																<td>13444.000000</td>
																<td>13444.000000</td>
																<td>13444.000000</td>
																<td>13444.000000</td>
															  </tr>
															  <tr>
																<th>mean</th>
																<td>2016.786299</td>
																<td>81.920302</td>
																<td>20643.281389</td>
																<td>34997.250368</td>
															  </tr>
															  <tr>
																<th>std</th>
																<td>1.849565</td>
																<td>34.797107</td>
																<td>7127.195264</td>
																<td>26157.095554</td>
															  </tr>
															  <tr>
																<th>min</th>
																<td>2012.000000</td>
																<td>0.000000</td>
																<td>15194.000000</td>
																<td>124.500000</td>
															  </tr>
															  <tr>
																<th>25%</th>
																<td>2016.000000</td>
																<td>62.704750</td>
																<td>16666.500000</td>
																<td>21307.875000</td>
															  </tr>
															  <tr>
																<th>50%</th>
																<td>2016.000000</td>
																<td>76.626000</td>
																<td>18446.000000</td>
																<td>28935.250000</td>
															  </tr>
															  <tr>
																<th>75%</th>  
																<td>2017.000000</td>
																<td>88.197500</td>
																<td>21356.750000</td>
																<td>38638.625000</td>
															  </tr>
															  <tr>
																<th>max</th>  
																<td>2020.000000</td>
																<td>791.425000</td>
																<td>64192.500000</td>
																<td>232749.000000</td>
															  </tr>
															</tbody>
														  </table>
														  <pre>
															<code>
tcpdown.describe()
														</code>
														</pre>
														<table border="1" class="dataframe mystyle">
															<thead>
															  <tr style="text-align: center;">
																<th></th>
																<th>Date</th>
																<th>wRttAvg</th>
																<th>wTCPUp</th>
																<th>wTCPDown</th>		
															  </tr>
															</thead>
															<tbody>
															  <tr>
																<th>count</th>
																<td>13444.000000</td>
																<td>13444.000000</td>
																<td>13444.000000</td>
																<td>13444.000000</td>
															  </tr>
															  <tr>
																<th>mean</th>
																<td>2017.294927</td>
																<td>81.114935</td>
																<td>15973.411106</td>
																<td>47726.691015</td>
															  </tr>
															  <tr>
																<th>std</th>
																<td>2.189790</td>
																<td>48.074959</td>
																<td>9667.741668</td>
																<td>25157.416915</td>
															  </tr>
															  <tr>
																<th>min</th>
																<td>2012.000000</td>
																<td>0.000000</td>
																<td>603.700000</td>
																<td>29373.000000</td>
															  </tr>
															  <tr>
																<th>25%</th>
																<td>2016.000000</td>
																<td>51.342500</td>
																<td>9693.125000</td>
																<td>32969.375000</td>
															  </tr>
															  <tr>
																<th>50%</th>
																<td>2017.000000</td>
																<td>74.137000</td>
																<td>14967.250000</td>
																<td>37755.750000</td>
															  </tr>
															  <tr>
																<th>75%</th>  
																<td>2020.000000</td>
																<td>90.191500</td>
																<td>19776.500000</td>
																<td>50109.375000</td>
															  </tr>
															  <tr>
																<th>max</th>  
																<td>2020.000000</td>
																<td>791.425000</td>
																<td>64192.500000</td>
																<td>232749.000000</td>
															  </tr>
															</tbody>
														  </table>
											</article>
										
									</section>
							</div>
					</section>

					<!-- About Section -->
					<section class="wrapper style1 align-center">
						<div id="aboutSection" class="inner">
							<div id="About"><h2>About</h2></div>
							<div class="index align-left">
								
								<!-- Text -->
									<section>
										<header>
											<h3>See also</h3>
										</header>
										<div class="content">
			
												<li><a href="https://www.cpuc.ca.gov/general.aspx?id=1778">Official CPUC website</a></i>
												<li><a href="http://calbroadbanddrivetest.blogspot.com/"><i>Mobile Broadband Drive-Test Blog Site</i></a></li>
												<li><a href="https://github.com/ethanccastro/CPUC-RTT"><i>RTT Network Github</i></a></li>
												<br>
												<i>For more information from CPUC and their data points:</i>
												<li><a href="mailto:calspeed@cpuc.ca.gov">calspeed@cpuc.ca.gov</a></li>
												<br>
												<i>Contact for details:</i><br>
												<li><a href="mailto:jesugomez@csumb.edu">jesugomez@csumb.edu</a></li>
												<li><a href="mailto:jelopez-hernandez@csumb.edu">jelopez-hernandez@csumb.edu</a></li>
												<li><a href="mailto:ethcastro@csumb.edu">ethcastro@csumb.edu</a></li>
												<li><a href="mailto:eguerra@csumb.edu">eguerra@csumb.edu</a></li>
			
										</div>
									</section>
			
								<!-- Heading -->
									<section>
										<div class="content">
			
											<li><a href="#About RTT Network"> About RTT Network</a></li>
											<li><a href="#Source">Methods</a></li>
											<li><a href="#Definitions">Definitions</a></li>
											<li><a href="#Data">Data</a>
											</li>
			
									</section>
									<!-- About RTT Network -->
									<section>
										<header>
											<div id="About RTT Network"><h3>About RTT Network</h3></div>
										</header>
										<div class="content">
											RTT Network manually analyzes, aggregate, and visualize data from the
											California Public Utilities Comission (CPUC) to provide information regarding
											the four major carriers (Sprint, Verizon, T-Mobile, AT&T) in the United States.
											<br><br>
											Our data is: replicable, reliable, and trusted. We encourage our audience to use the
											information to help make guided decisions on their choice of service, or inspire to create their
											own statistics and creativity to further enhance the graphs that are displayed.
										</div>
									</section>
									<!-- Methods -->
									<section>
										<header>
											<div id="Source"><h3>Methods</h3></div>
										</header>
										<div class="content">
											Part of our work consists of monitoring the years from 2012-2020
											from all of the major carriers in the west and east coasts of the United States.
											We sourced our data from the CPUC website and carefully crafted a large datasheet
											that contains all the information downloaded from the website. There were little to no
											modifications on the actual data, as we hoped that other people would be able to find 
											themselves creating their own visualizations.
											<br><br>
											The data was divided into several dataframes that originated from all the combined
											CSV files. We looked at the top 10%, 20%... 50% of the best values for each of the RTT and
											TCP metrics to find trends and correlations to grab insight about the carriers.
										</div>
									</section>
									<!-- Definitions -->
									<section>
										<header>
											<div id="Definitions"><h3>Definitions</h3></div>
										</header>
										<div class="content">
			
											<dl>
												<dt>Round-trip time (RTT)</dt>
												<dd>
													<p>The duration in ms for a network request
														to go from a starting point and back again. Also known as ping, this metric
														can inform phone users how fast they are able to communicate and navigate through the internet, applications, or anything that uses their
														service. The speed is determined by how fast in ms the data is received and sent back. The lower in ms, the faster the speed gets.</p>
												</dd>
												<dt>Transmission Control Protocol (TCP)</dt>
												<dd>
													<p>One of the main protocols of the
														Internet protocol suite. It enables applications and devices to transmit data by
														dividing messages into packets which then can be forwarded through switches and routers to
														the destination. Because these applications and devices are packing and unpacking the data,
														TCP is divided into upload and download speed. Upload speed is when a device is sending a message,
														and download speed is when a device is receiving a message. It is important to have both of these to be as
														high as it can be.</p>
												</dd>
												<dt>Difference</dt>
												<dd>
													<p>TCP needs to determine RTT for good performance. For each connection, TCP will 
														continiously estimate the RTT and adjust how the messages are sent for each packet that is read. 
														The most important distinction regarded the ability to question whether RTT or TCP can determine
														the accuracy in which data is sent is RTT's role in assisting TCP's computed time to send out packets.
														RTT Network recommends seeing the correlation between RTT and TCP by comparing several graphs together. One trend
														to look out for is how the values increase or decrease. Intuitively, if they were to correlate, RTT would decrease
														and TCP would increase.</p>
												</dd>
												<dt>California Public Utilities Comission (CPUC)</dt>
												<dd>
													<p>A department of California
														utilizing CalSpeed project teams to use smartphones and tablets at 2,000 points to measure
														mobile broadbant service availability. Their data sheets contain summarized data that is the average of the
														160 individual tests for each metric (RTT and TCP) measured at each point tested. Their data
														is available for public use and modification.</p>
												</dd>
											</dl>
			
										</div>
									</section>
								<!-- Data -->
									<section>
										<header>
											<div id="Data"><h3>Data</h3></div>
										</header>
										<div class="content">
											<article>
												<p>These are all data sourced from the original CPUC website. All file names correspond
													to the years that the datapoints were recorded. Atrribute information varies as new datasheets
													integrated more information, but most
													of the datasheets contain columns. After combining all the datasheets, one contains all a master dataframe
												with all the information, along with separate datasheets containing only top values. (Only from west servers)</p>
												<button id="myBtn2" class="button small">Data</button>
	
													<!-- The Modal -->
													<div id="myModal2" class="modal">
	
													<!-- Modal content -->
													<div class="modal-content">
														<span class="close">&times;</span>
														<div id="Original"><h4>Original</h4></div>
											<ul>
												<li><a href="{{ url_for('download', filename="Fall2012.csv") }}">Fall2012</a></li>
												<li><a href="{{ url_for('download', filename="Fall2013.csv") }}">Fall2013</a></li>
												<li><a href="{{ url_for('download', filename="Fall2014.csv") }}">Fall2014</a></li>
												<li><a href="{{ url_for('download', filename="Fall2016.csv") }}">Fall2016</a></li>
												<li><a href="{{ url_for('download', filename="Fall2017.csv") }}">Fall2017</a></li>
												<li><a href="{{ url_for('download', filename="Spring2012.csv") }}">Spring2012</a></li>
												<li><a href="{{ url_for('download', filename="Spring2013.csv") }}">Spring2013</a></li>
												<li><a href="{{ url_for('download', filename="Spring2014.csv") }}">Spring2014</a></li>
												<li><a href="{{ url_for('download', filename="Spring2015.csv") }}">Spring2015</a></li>
												<li><a href="{{ url_for('download', filename="Spring2016.csv") }}">Spring2016</a></li>
												<li><a href="{{ url_for('download', filename="Spring2017-1.csv") }}">Spring2017-1</a></li>
												<li><a href="{{ url_for('download', filename="Spring2017-2.csv") }}">Spring2017-2</a></li>
												<li><a href="{{ url_for('download', filename="Spring2017-3.csv") }}">Spring2017-3</a></li>
												<li><a href="{{ url_for('download', filename="Spring2017-4.csv") }}">Spring2017-4</a></li>
												<li><a href="{{ url_for('download', filename="Summer2020.csv") }}">Summer2020</a></li>
												<li><a href="{{ url_for('download', filename="Winter2015-2016.csv") }}">Winter2015-16</a></li>
											</ul>
			
											<div id="Main"><h4>Main Dataframe</h4></div>
											<ul>
												<li><a href="{{ url_for('download', filename="mainDataFrame.csv") }}">Dataframe</a></li>
											</ul>
											<div id="Top"><h4>Top Values</h4></div>
											<ul>
												RTT
												<li><a href="{{ url_for('download', filename="rtt10.csv") }}">West RTT Top 10%</a></li>
												<li><a href="{{ url_for('download', filename="rtt20.csv") }}">West RTT Top 20%</a></li>
												<li><a href="{{ url_for('download', filename="rtt30.csv") }}">West RTT Top 30%</a></li>
												<li><a href="{{ url_for('download', filename="rtt40.csv") }}">West RTT Top 40%</a></li>
												<li><a href="{{ url_for('download', filename="rtt50.csv") }}">West RTT Top 50%</a></li>
												<br><br>
												TCP Upload
												<br><br>
												<li><a href="{{ url_for('download', filename="tcpup10.csv") }}">West TCP Upload Top 10%</a></li>
												<li><a href="{{ url_for('download', filename="tcpup20.csv") }}">West TCP Upload Top 20%</a></li>
												<li><a href="{{ url_for('download', filename="tcpup30.csv") }}">West TCP Upload Top 30%</a></li>
												<li><a href="{{ url_for('download', filename="tcpup40.csv") }}">West TCP Upload Top 40%</a></li>
												<li><a href="{{ url_for('download', filename="tcpup50.csv") }}">West TCP Upload Top 50%</a></li>
												<br><br>
												TCP Download
												<br><br>
												<li><a href="{{ url_for('download', filename="tcpdown10.csv") }}">West TCP Download Top 10%</a></li>
												<li><a href="{{ url_for('download', filename="tcpdown20.csv") }}">West TCP Download Top 20%</a></li>
												<li><a href="{{ url_for('download', filename="tcpdown30.csv") }}">West TCP Download Top 30%</a></li>
												<li><a href="{{ url_for('download', filename="tcpdown40.csv") }}">West TCP Download Top 40%</a></li>
												<li><a href="{{ url_for('download', filename="tcpdown50.csv") }}">West TCP Download Top 50%</a></li>
											</ul>
										</div>
											</article>			
									</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://github.com/ethanccastro/CPUC-RTT" class="icon brands style1 fa-github"><span class="label">Github</span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
            <script src="../static/js/graphTransition.js"></script>
            <script src="../static/js/windowScroll.js"></script>

	</body>
</html>