<!--  Name: homepage.html
      Group Members: Chuy Gomez, Jennifer Lopez, Eric Guerra, Ethan Castro
      Date: 3/10/2021
      Class: CST499
      Description: West RTT page to display data for the capstone project
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    <title> RTT Network - West Average RTT </title>

    <!-- Font for RTT NETWORK -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand ms-4" href="/">
            <img id="growImage" src="../static/images/logoCropInverted.png" width="9%">
            <h2 class="rttNetwork" id="fadeWords"> RTT NETWORK </h2>
        </a>
        <button class="navbar-toggler me-4" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    
        </button>
        <div class="collapse navbar-collapse justify-content-end pe-6" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ms-5">
                    <!-- <a class="nav-link navTextColor" href="/westRTT"> West Average RTT </a> -->
                </li>
                <li class="nav-item dropdown ms-5">
                    <a class="nav-link dropdown-toggle navTextColor" href="/westTCP" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> West Network Graphs </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/westTCP"> West RTT & TCP </a>
                        <a class="dropdown-item" href="/westTCP"> West Upload/Download Ping </a>
                    </div>
                </li>
                <!-- <li class="nav-item ms-5">
                    <a class="nav-link navTextColor" href="/eastRTT"> East Average RTT </a>
                </li> -->
                <li class="nav-item dropdown ms-5">
                    <a class="nav-link dropdown-toggle navTextColor" href="/eastTCP" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> East Network Graphs </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/eastTCP"> East RTT & TCP </a>
                        <a class="dropdown-item" href="/eastTCP"> East Upload/Download Ping </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Intro Image -->
    <div class="img1">
        <div class="text">
            <h1>West RTT</h1>
        </div>
    </div>
    
    <!-- Main Content -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col p-5"></div>
            </div>
        </div>


        <div class="container-fluid p-0">
            <div class="row text-center p-0 m-0">
                
                <!-- <div class="col background-graph"> 
                    <div class="scene scene--card">
                        <div class="card">

                            

                           <div class="user-select-none svg-container" style="position: relative; width: 100%; height: 100%;"><svg class="main-svg"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1170" height="944"
                                    style="background: white;">
                                    <defs id="defs-598050">
                                        <g class="clips">
                                            <clipPath id="clip598050xyplot" class="plotclip">
                                                <rect width="960" height="764"></rect>
                                            </clipPath>
                                            <clipPath class="axesclip" id="clip598050x">
                                                <rect x="80" y="0" width="960" height="944"></rect>
                                            </clipPath>
                                            <clipPath class="axesclip" id="clip598050y">
                                                <rect x="0" y="100" width="1170" height="764"></rect>
                                            </clipPath>
                                            <clipPath class="axesclip" id="clip598050xy">
                                                <rect x="80" y="100" width="960" height="764"></rect>
                                            </clipPath>
                                        </g>
                                        <g class="gradients"></g>
                                    </defs>
                                    <g class="bglayer">
                                        <rect class="bg" x="80" y="100" width="960" height="764"
                                            style="fill: rgb(229, 236, 246); fill-opacity: 1; stroke-width: 0;"></rect>
                                    </g>
                                    <g class="draglayer cursor-crosshair">
                                        <g class="xy">
                                            <rect class="nsewdrag drag" data-subplot="xy" x="80" y="100" width="960" height="764"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="nwdrag drag cursor-nw-resize" data-subplot="xy" x="60" y="80" width="20" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="nedrag drag cursor-ne-resize" data-subplot="xy" x="1040" y="80" width="20" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="swdrag drag cursor-sw-resize" data-subplot="xy" x="60" y="864" width="20" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="sedrag drag cursor-se-resize" data-subplot="xy" x="1040" y="864" width="20" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="ewdrag drag cursor-ew-resize" data-subplot="xy" x="176" y="864.5" width="768" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="wdrag drag cursor-w-resize" data-subplot="xy" x="80" y="864.5" width="96" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="edrag drag cursor-e-resize" data-subplot="xy" x="944" y="864.5" width="96" height="20"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="nsdrag drag cursor-ns-resize" data-subplot="xy" x="59.5" y="176.4" width="20"
                                                height="611.2" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="sdrag drag cursor-s-resize" data-subplot="xy" x="59.5" y="787.6" width="20" height="76.4"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                            <rect class="ndrag drag cursor-n-resize" data-subplot="xy" x="59.5" y="100" width="20" height="76.4"
                                                style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                                        </g>
                                    </g>
                                    <g class="layer-below">
                                        <g class="imagelayer"></g>
                                        <g class="shapelayer"></g>
                                    </g>
                                    <g class="cartesianlayer">
                                        <g class="subplot xy">
                                            <g class="layer-subplot">
                                                <g class="shapelayer"></g>
                                                <g class="imagelayer"></g>
                                            </g>
                                            <g class="gridlayer">
                                                <g class="x">
                                                    <path class="xgrid crisp" transform="translate(200,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(320,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(440,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(560,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(680,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(800,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="xgrid crisp" transform="translate(920,0)" d="M0,100v764"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                </g>
                                                <g class="y">
                                                    <path class="ygrid crisp" transform="translate(0,745.81)" d="M80,0h960"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="ygrid crisp" transform="translate(0,599.05)" d="M80,0h960"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="ygrid crisp" transform="translate(0,452.28)" d="M80,0h960"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="ygrid crisp" transform="translate(0,305.51)" d="M80,0h960"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                    <path class="ygrid crisp" transform="translate(0,158.75)" d="M80,0h960"
                                                        style="stroke: rgb(255, 255, 255); stroke-opacity: 1; stroke-width: 1px;"></path>
                                                </g>
                                            </g>
                                            <g class="zerolinelayer"></g>
                                            <path class="xlines-below"></path>
                                            <path class="ylines-below"></path>
                                            <g class="overlines-below"></g>
                                            <g class="xaxislayer-below"></g>
                                            <g class="yaxislayer-below"></g>
                                            <g class="overaxes-below"></g>
                                            <g class="plot" transform="translate(80,100)" clip-path="url('#clip598050xyplot')">
                                                <g class="scatterlayer mlayer">
                                                    <g class="trace scatter trace2ebd9f" style="stroke-miterlimit: 2; opacity: 1;">
                                                        <g class="fills"></g>
                                                        <g class="errorbars"></g>
                                                        <g class="lines">
                                                            <path class="js-line"
                                                                d="M0,325.86L120,368.42L240,509.32L360,167.35L480,41.14L600,657.55L960,692.04"
                                                                style="vector-effect: non-scaling-stroke; fill: none; stroke: rgb(99, 110, 250); stroke-opacity: 1; stroke-width: 2px; opacity: 1;">
                                                            </path>
                                                        </g>
                                                        <g class="points"></g>
                                                        <g class="text"></g>
                                                    </g>
                                                    <g class="trace scatter tracec05e11" style="stroke-miterlimit: 2; opacity: 1;">
                                                        <g class="fills"></g>
                                                        <g class="errorbars"></g>
                                                        <g class="lines"></g>
                                                        <g class="points"></g>
                                                        <g class="text"></g>
                                                    </g>
                                                    <g class="trace scatter tracebe9327" style="stroke-miterlimit: 2; opacity: 1;">
                                                        <g class="fills"></g>
                                                        <g class="errorbars"></g>
                                                        <g class="lines">
                                                            <path class="js-line"
                                                                d="M120,229.73L240,294.31L360,348.61L480,383.83L600,426.4L960,358.88"
                                                                style="vector-effect: non-scaling-stroke; fill: none; stroke: rgb(0, 204, 150); stroke-opacity: 1; stroke-width: 2px; opacity: 1;">
                                                            </path>
                                                        </g>
                                                        <g class="points"></g>
                                                        <g class="text"></g>
                                                    </g>
                                                    <g class="trace scatter trace230955" style="stroke-miterlimit: 2; opacity: 1;">
                                                        <g class="fills"></g>
                                                        <g class="errorbars"></g>
                                                        <g class="lines">
                                                            <path class="js-line"
                                                                d="M0,38.93L120,185.7L240,90.3L360,38.2L480,115.25L600,484.37L960,228.26"
                                                                style="vector-effect: non-scaling-stroke; fill: none; stroke: rgb(171, 99, 250); stroke-opacity: 1; stroke-width: 2px; opacity: 1;">
                                                            </path>
                                                        </g>
                                                        <g class="points"></g>
                                                        <g class="text"></g>
                                                    </g>
                                                    <g class="trace scatter trace0ccf99" style="stroke-miterlimit: 2; opacity: 1;">
                                                        <g class="fills"></g>
                                                        <g class="errorbars"></g>
                                                        <g class="lines">
                                                            <path class="js-line"
                                                                d="M0,457.22L120,242.21L240,212.12L360,96.91L480,144.61L600,612.06L960,725.8"
                                                                style="vector-effect: non-scaling-stroke; fill: none; stroke: rgb(255, 161, 90); stroke-opacity: 1; stroke-width: 2px; opacity: 1;">
                                                            </path>
                                                        </g>
                                                        <g class="points"></g>
                                                        <g class="text"></g>
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="overplot"></g>
                                            <path class="xlines-above crisp" d="M0,0" style="fill: none;"></path>
                                            <path class="ylines-above crisp" d="M0,0" style="fill: none;"></path>
                                            <g class="overlines-above"></g>
                                            <g class="xaxislayer-above">
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2012" data-math="N"
                                                        transform="translate(80,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2012</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2013" data-math="N"
                                                        transform="translate(200,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2013</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2014" data-math="N"
                                                        transform="translate(320,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2014</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2015" data-math="N"
                                                        transform="translate(440,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2015</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2016" data-math="N"
                                                        transform="translate(560,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2016</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2017" data-math="N"
                                                        transform="translate(680,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2017</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2018" data-math="N"
                                                        transform="translate(800,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2018</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2019" data-math="N"
                                                        transform="translate(920,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2019</text>
                                                </g>
                                                <g class="xtick"><text text-anchor="middle" x="0" y="877" data-unformatted="2020" data-math="N"
                                                        transform="translate(1040,0)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">2020</text>
                                                </g>
                                            </g>
                                            <g class="yaxislayer-above">
                                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="46"
                                                        data-math="N" transform="translate(0,745.81)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">46</text>
                                                </g>
                                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="48"
                                                        data-math="N" transform="translate(0,599.05)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">48</text>
                                                </g>
                                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="50"
                                                        data-math="N" transform="translate(0,452.28)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">50</text>
                                                </g>
                                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="52"
                                                        data-math="N" transform="translate(0,305.51)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">52</text>
                                                </g>
                                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="54"
                                                        data-math="N" transform="translate(0,158.75)"
                                                        style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">54</text>
                                                </g>
                                            </g>
                                            <g class="overaxes-above"></g>
                                        </g>
                                    </g>
                                    <g class="polarlayer"></g>
                                    <g class="ternarylayer"></g>
                                    <g class="geolayer"></g>
                                    <g class="funnelarealayer"></g>
                                    <g class="pielayer"></g>
                                    <g class="treemaplayer"></g>
                                    <g class="sunburstlayer"></g>
                                    <g class="glimages"></g>
                                </svg>
                                <div class="gl-container"></div><svg class="main-svg" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="1170" height="944">
                                    <defs id="topdefs-598050">
                                        <g class="clips"></g>
                                        <clipPath id="legend598050">
                                            <rect width="99" height="121" x="0" y="0"></rect>
                                        </clipPath>
                                    </defs>
                                    <g class="indicatorlayer"></g>
                                    <g class="layer-above">
                                        <g class="imagelayer"></g>
                                        <g class="shapelayer"></g>
                                    </g>
                                    <g class="infolayer">
                                        <g class="legend" pointer-events="all" transform="translate(1059.2,100)">
                                            <rect class="bg" shape-rendering="crispEdges"
                                                style="stroke: rgb(68, 68, 68); stroke-opacity: 1; fill: rgb(255, 255, 255); fill-opacity: 1; stroke-width: 0px;"
                                                width="99" height="121" x="0" y="0"></rect>
                                            <g class="scrollbox" transform="" clip-path="url('#legend598050')"><text class="legendtitletext"
                                                    text-anchor="start" data-unformatted="Provider" data-math="N" x="2" y="15.600000000000001"
                                                    style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">Provider</text>
                                                <g class="groups" transform="">
                                                    <g class="traces" transform="translate(0,30.1)" style="opacity: 1;"><text class="legendtext"
                                                            text-anchor="start" x="40" y="4.680000000000001" data-unformatted="At&amp;t"
                                                            data-math="N"
                                                            style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">At&amp;t</text>
                                                        <g class="layers" style="opacity: 1;">
                                                            <g class="legendfill"></g>
                                                            <g class="legendlines">
                                                                <path class="js-line" d="M5,0h30"
                                                                    style="fill: none; stroke: rgb(99, 110, 250); stroke-opacity: 1; stroke-width: 2px;">
                                                                </path>
                                                            </g>
                                                            <g class="legendsymbols">
                                                                <g class="legendpoints"></g>
                                                            </g>
                                                        </g>
                                                        <rect class="legendtoggle" pointer-events="all" x="0" y="-9.5" width="93.140625" height="19"
                                                            style="cursor: pointer; fill: rgb(0, 0, 0); fill-opacity: 0;"></rect>
                                                    </g>
                                                </g>
                                                <g class="groups" transform="">
                                                    <g class="traces" transform="translate(0,49.1)" style="opacity: 1;"><text class="legendtext"
                                                            text-anchor="start" x="40" y="4.680000000000001" data-unformatted="Firstnet"
                                                            data-math="N"
                                                            style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">Firstnet</text>
                                                        <g class="layers" style="opacity: 1;">
                                                            <g class="legendfill"></g>
                                                            <g class="legendlines">
                                                                <path class="js-line" d="M5,0h30"
                                                                    style="fill: none; stroke: rgb(239, 85, 59); stroke-opacity: 1; stroke-width: 2px;">
                                                                </path>
                                                            </g>
                                                            <g class="legendsymbols">
                                                                <g class="legendpoints"></g>
                                                            </g>
                                                        </g>
                                                        <rect class="legendtoggle" pointer-events="all" x="0" y="-9.5" width="93.140625" height="19"
                                                            style="cursor: pointer; fill: rgb(0, 0, 0); fill-opacity: 0;"></rect>
                                                    </g>
                                                </g>
                                                <g class="groups" transform="">
                                                    <g class="traces" transform="translate(0,68.1)" style="opacity: 1;"><text class="legendtext"
                                                            text-anchor="start" x="40" y="4.680000000000001" data-unformatted="Sprint" data-math="N"
                                                            style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">Sprint</text>
                                                        <g class="layers" style="opacity: 1;">
                                                            <g class="legendfill"></g>
                                                            <g class="legendlines">
                                                                <path class="js-line" d="M5,0h30"
                                                                    style="fill: none; stroke: rgb(0, 204, 150); stroke-opacity: 1; stroke-width: 2px;">
                                                                </path>
                                                            </g>
                                                            <g class="legendsymbols">
                                                                <g class="legendpoints"></g>
                                                            </g>
                                                        </g>
                                                        <rect class="legendtoggle" pointer-events="all" x="0" y="-9.5" width="93.140625" height="19"
                                                            style="cursor: pointer; fill: rgb(0, 0, 0); fill-opacity: 0;"></rect>
                                                    </g>
                                                </g>
                                                <g class="groups" transform="">
                                                    <g class="traces" transform="translate(0,87.1)" style="opacity: 1;"><text class="legendtext"
                                                            text-anchor="start" x="40" y="4.680000000000001" data-unformatted="T-mobile"
                                                            data-math="N"
                                                            style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">T-mobile</text>
                                                        <g class="layers" style="opacity: 1;">
                                                            <g class="legendfill"></g>
                                                            <g class="legendlines">
                                                                <path class="js-line" d="M5,0h30"
                                                                    style="fill: none; stroke: rgb(171, 99, 250); stroke-opacity: 1; stroke-width: 2px;">
                                                                </path>
                                                            </g>
                                                            <g class="legendsymbols">
                                                                <g class="legendpoints"></g>
                                                            </g>
                                                        </g>
                                                        <rect class="legendtoggle" pointer-events="all" x="0" y="-9.5" width="93.140625" height="19"
                                                            style="cursor: pointer; fill: rgb(0, 0, 0); fill-opacity: 0;"></rect>
                                                    </g>
                                                </g>
                                                <g class="groups" transform="">
                                                    <g class="traces" transform="translate(0,106.1)" style="opacity: 1;"><text class="legendtext"
                                                            text-anchor="start" x="40" y="4.680000000000001" data-unformatted="Verizon"
                                                            data-math="N"
                                                            style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 12px; fill: rgb(42, 63, 95); fill-opacity: 1; white-space: pre;">Verizon</text>
                                                        <g class="layers" style="opacity: 1;">
                                                            <g class="legendfill"></g>
                                                            <g class="legendlines">
                                                                <path class="js-line" d="M5,0h30"
                                                                    style="fill: none; stroke: rgb(255, 161, 90); stroke-opacity: 1; stroke-width: 2px;">
                                                                </path>
                                                            </g>
                                                            <g class="legendsymbols">
                                                                <g class="legendpoints"></g>
                                                            </g>
                                                        </g>
                                                        <rect class="legendtoggle" pointer-events="all" x="0" y="-9.5" width="93.140625" height="19"
                                                            style="cursor: pointer; fill: rgb(0, 0, 0); fill-opacity: 0;"></rect>
                                                    </g>
                                                </g>
                                            </g>
                                            <rect class="scrollbar" rx="20" ry="3" width="0" height="0"
                                                style="fill: rgb(128, 139, 164); fill-opacity: 1;" x="0" y="0"></rect>
                                        </g>
                                        <g class="g-gtitle"><text class="gtitle" x="58.5" y="50" text-anchor="start" dy="0em"
                                                data-unformatted="Average West Server Round Trip Time (Top 10%)" data-math="N"
                                                style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 17px; fill: rgb(42, 63, 95); opacity: 1; font-weight: normal; white-space: pre;">Average
                                                West Server Round Trip Time (Top 10%)</text></g>
                                        <g class="g-xtitle"><text class="xtitle" x="560" y="904.8" text-anchor="middle" data-unformatted="Date"
                                                data-math="N"
                                                style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 14px; fill: rgb(42, 63, 95); opacity: 1; font-weight: normal; white-space: pre;">Date</text>
                                        </g>
                                        <g class="g-ytitle"><text class="ytitle" transform="rotate(-90,38.934375,482)" x="38.934375" y="482"
                                                text-anchor="middle" data-unformatted="wRttAvg" data-math="N"
                                                style="font-family: Open Sans, verdana, arial, sans-serif; font-size: 14px; fill: rgb(42, 63, 95); opacity: 1; font-weight: normal; white-space: pre;">wRttAvg</text>
                                        </g>
                                    </g>
                                    <g class="menulayer"></g>
                                    <g class="zoomlayer"></g>
                                </svg>
                                <div class="modebar-container" style="position: absolute; top: 0px; right: 0px; width: 100%;">
                                    <div id="modebar-598050" class="modebar modebar--hover ease-bg">
                                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn" data-title="Download plot as a png"
                                                data-toggle="false" data-gravity="n"><svg viewBox="0 0 1000 1000" class="icon" height="1em"
                                                    width="1em">
                                                    <path
                                                        d="m500 450c-83 0-150-67-150-150 0-83 67-150 150-150 83 0 150 67 150 150 0 83-67 150-150 150z m400 150h-120c-16 0-34 13-39 29l-31 93c-6 15-23 28-40 28h-340c-16 0-34-13-39-28l-31-94c-6-15-23-28-40-28h-120c-55 0-100-45-100-100v-450c0-55 45-100 100-100h800c55 0 100 45 100 100v450c0 55-45 100-100 100z m-400-550c-138 0-250 112-250 250 0 138 112 250 250 250 138 0 250-112 250-250 0-138-112-250-250-250z m365 380c-19 0-35 16-35 35 0 19 16 35 35 35 19 0 35-16 35-35 0-19-16-35-35-35z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a></div>
                                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn active" data-title="Zoom"
                                                data-attr="dragmode" data-val="zoom" data-toggle="false" data-gravity="n"><svg
                                                    viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                                    <path
                                                        d="m1000-25l-250 251c40 63 63 138 63 218 0 224-182 406-407 406-224 0-406-182-406-406s183-406 407-406c80 0 155 22 218 62l250-250 125 125z m-812 250l0 438 437 0 0-438-437 0z m62 375l313 0 0-312-313 0 0 312z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn" data-title="Pan" data-attr="dragmode" data-val="pan"
                                                data-toggle="false" data-gravity="n"><svg viewBox="0 0 1000 1000" class="icon" height="1em"
                                                    width="1em">
                                                    <path
                                                        d="m1000 350l-187 188 0-125-250 0 0 250 125 0-188 187-187-187 125 0 0-250-250 0 0 125-188-188 186-187 0 125 252 0 0-250-125 0 187-188 188 188-125 0 0 250 250 0 0-126 187 188z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a></div>
                                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn" data-title="Zoom in" data-attr="zoom"
                                                data-val="in" data-toggle="false" data-gravity="n"><svg viewBox="0 0 875 1000" class="icon"
                                                    height="1em" width="1em">
                                                    <path
                                                        d="m1 787l0-875 875 0 0 875-875 0z m687-500l-187 0 0-187-125 0 0 187-188 0 0 125 188 0 0 187 125 0 0-187 187 0 0-125z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn" data-title="Zoom out" data-attr="zoom" data-val="out"
                                                data-toggle="false" data-gravity="n"><svg viewBox="0 0 875 1000" class="icon" height="1em"
                                                    width="1em">
                                                    <path d="m0 788l0-876 875 0 0 876-875 0z m688-500l-500 0 0 125 500 0 0-125z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn" data-title="Autoscale" data-attr="zoom"
                                                data-val="auto" data-toggle="false" data-gravity="n"><svg viewBox="0 0 1000 1000" class="icon"
                                                    height="1em" width="1em">
                                                    <path
                                                        d="m250 850l-187 0-63 0 0-62 0-188 63 0 0 188 187 0 0 62z m688 0l-188 0 0-62 188 0 0-188 62 0 0 188 0 62-62 0z m-875-938l0 188-63 0 0-188 0-62 63 0 187 0 0 62-187 0z m875 188l0-188-188 0 0-62 188 0 62 0 0 62 0 188-62 0z m-125 188l-1 0-93-94-156 156 156 156 92-93 2 0 0 250-250 0 0-2 93-92-156-156-156 156 94 92 0 2-250 0 0-250 0 0 93 93 157-156-157-156-93 94 0 0 0-250 250 0 0 0-94 93 156 157 156-157-93-93 0 0 250 0 0 250z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn" data-title="Reset axes" data-attr="zoom"
                                                data-val="reset" data-toggle="false" data-gravity="n"><svg viewBox="0 0 928.6 1000" class="icon"
                                                    height="1em" width="1em">
                                                    <path
                                                        d="m786 296v-267q0-15-11-26t-25-10h-214v214h-143v-214h-214q-15 0-25 10t-11 26v267q0 1 0 2t0 2l321 264 321-264q1-1 1-4z m124 39l-34-41q-5-5-12-6h-2q-7 0-12 3l-386 322-386-322q-7-4-13-4-7 2-12 7l-35 41q-4 5-3 13t6 12l401 334q18 15 42 15t43-15l136-114v109q0 8 5 13t13 5h107q8 0 13-5t5-13v-227l122-102q5-5 6-12t-4-13z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a></div>
                                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn" data-title="Toggle Spike Lines"
                                                data-attr="_cartesianSpikesEnabled" data-val="on" data-toggle="false" data-gravity="n"><svg
                                                    viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                                    <path
                                                        d="M512 409c0-57-46-104-103-104-57 0-104 47-104 104 0 57 47 103 104 103 57 0 103-46 103-103z m-327-39l92 0 0 92-92 0z m-185 0l92 0 0 92-92 0z m370-186l92 0 0 93-92 0z m0-184l92 0 0 92-92 0z"
                                                        transform="matrix(1.5 0 0 -1.5 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn active" data-title="Show closest data on hover"
                                                data-attr="hovermode" data-val="closest" data-toggle="false" data-gravity="ne"><svg
                                                    viewBox="0 0 1500 1000" class="icon" height="1em" width="1em">
                                                    <path d="m375 725l0 0-375-375 375-374 0-1 1125 0 0 750-1125 0z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a><a rel="tooltip" class="modebar-btn" data-title="Compare data on hover"
                                                data-attr="hovermode" data-val="x" data-toggle="false" data-gravity="ne"><svg
                                                    viewBox="0 0 1125 1000" class="icon" height="1em" width="1em">
                                                    <path
                                                        d="m187 786l0 2-187-188 188-187 0 0 937 0 0 373-938 0z m0-499l0 1-187-188 188-188 0 0 937 0 0 376-938-1z"
                                                        transform="matrix(1 0 0 -1 0 850)"></path>
                                                </svg></a></div>
                                        <div class="modebar-group"><a href="https://plotly.com/" target="_blank" data-title="Produced with Plotly"
                                                class="modebar-btn plotlyjsicon modebar-btn--logo"><svg xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 132 132" height="1em" width="1em">
                                                    <defs>
                                                        <style>
                                                            .cls-1 {
                                                                fill: #3f4f75;
                                                            }
                            
                                                            .cls-2 {
                                                                fill: #80cfbe;
                                                            }
                            
                                                            .cls-3 {
                                                                fill: #fff;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <title>plotly-logomark</title>
                                                    <g id="symbol">
                                                        <rect class="cls-1" width="132" height="132" rx="6" ry="6"></rect>
                                                        <circle class="cls-2" cx="78" cy="54" r="6"></circle>
                                                        <circle class="cls-2" cx="102" cy="30" r="6"></circle>
                                                        <circle class="cls-2" cx="78" cy="30" r="6"></circle>
                                                        <circle class="cls-2" cx="54" cy="30" r="6"></circle>
                                                        <circle class="cls-2" cx="30" cy="30" r="6"></circle>
                                                        <circle class="cls-2" cx="30" cy="54" r="6"></circle>
                                                        <path class="cls-3" d="M30,72a6,6,0,0,0-6,6v24a6,6,0,0,0,12,0V78A6,6,0,0,0,30,72Z"></path>
                                                        <path class="cls-3" d="M78,72a6,6,0,0,0-6,6v24a6,6,0,0,0,12,0V78A6,6,0,0,0,78,72Z"></path>
                                                        <path class="cls-3" d="M54,48a6,6,0,0,0-6,6v48a6,6,0,0,0,12,0V54A6,6,0,0,0,54,48Z"></path>
                                                        <path class="cls-3" d="M102,48a6,6,0,0,0-6,6v48a6,6,0,0,0,12,0V54A6,6,0,0,0,102,48Z"></path>
                                                    </g>
                                                </svg></a></div>
                                    </div>
                                </div><svg class="main-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="1170" height="944">
                                    <g class="hoverlayer"></g>
                                </svg>
                            </div>

                            <img class="card__face card__face--front" src="../static/images/timePlotAvgRTT-2012-2020.png">
                            <img class="card__face card__face--back" src="../static/images/timePlotAvgRTT-2012-2020.png">
                            
                        </div>
                    </div>
                </div> -->

                <div class="col">
                    <button id="buttonWTen" class="btn btn-primary my-4 mx-5" type="button"> 10% </button>
                    <button id="buttonWTwenty" class="btn btn-primary my-4 mx-3" type="button"> 20% </button>
                    <button id="buttonWFifty" class="btn btn-primary my-4 mx-5" type="button"> 50% </button>

                    <hr>

                    <h4> Time Plot Avg. RTT: 2012 - 2020 </h4>
                    <h6>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</h6>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col p-5"></div>
            </div>
        </div>

    </main>

    <footer class="text-center">
        <img src="../static/images/logoCropInverted.png" width="4%">
        <h2 class="rttNetwork"> RTT NETWORK </h2>
    
        <br>
        <br>
    
        <div class="line-spacing pb-5">
            Website Software Engineer Emails:
            <br>
    
            <a href="mailto: jesugomez@csumb.edu" class="footer-anchor">Jesus Gomez</a> /
            <a href="mailto: jelopez-hernandez@csumb.edu" class="footer-anchor">Jennifer Lopez</a> /
            <a href="mailto: ethcastro@csumb.edu" class="footer-anchor">Ethan Castro</a> /
            <a href="mailto: eguerra@csumb.edu" class="footer-anchor">Eric Guerra</a>
            <br>
    
            <div class="container">
                <div class="row">
    
                    <div class="col-sm-4"></div>
    
                    <div class="col-sm-2">
                        Project Mentor:<br>
                        <a href="mailto: ybyun@csumb.edu" class="footer-anchor">Dr. Byun</a>
                        <br>
    
                    </div>
    
                    <div class="col-sm-2 border-start border-dark">
                        Sponsor:</br>
                        <a href="https://www.cpuc.ca.gov/" class="footer-anchor" target="_blank">CPUC</a>
                        <br>
                    </div>
    
                    <div class="col-sm-4"></div>    
                </div>
            </div>
    
            <span>
                <a href="https://csumb.edu/" class="footer-anchor" target="_blank"> CSUMB </a>
                <br>
                100 Campus Center, Seaside, CA 93955 <br>
                (831) 582-3000 <br>
            </span>
            <br>
        </div>
    </footer>
    
    <script src="../static/js/graphTransition.js"></script>
    <script src="../static/js/windowScroll.js"></script>
</body>

</html>